@import url('https://fonts.googleapis.com/css?family=Lobster%7CRaleway&display=swap'); 

.words {
  border-top: #b8b894;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  height: 95px;
  color: #ff0000;
}

.bottom {
  margin-left: 35px
}

.right_column {
  background-position: center;
  margin-top: 45px;
}

.styles {
  font-size: 200px;
  opacity: 0.2;
  position: absolute;
  bottom: 65px;
  z-index: -1;
}

 /* .text-center {
   z-index: inherit;
   position: inherit;
   color: rgba (149,147,147,0.2)
 } */

/* Global */

.wrap {
  min-height: 100vh;
}

.carousel {
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
  padding-bottom: 60px;
}

/* .container-fluid {
  padding: 0;
  margin: 0;
} */

.carousel-inner .item {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.main_img1 {
  background-image: url("../img/wood-2.jpg");
}

.main_img2 {
  background-image: url("../img/restaurant-2.jpg");
}

.main_img3 {
  background-image: url("../img/farm-2.jpg");
}

/* .main_logo {
  max-height: 300px;
} This is Jacques code, the below is mine because it was not showing up on my website*/ 

.restaurante-logo {
  max-height: 300px;
  margin-left: 500px;
  background-color: red;
}

.btn-primary {
  color: #fff;
  background-color: #f8512f;
  border-color: transparent;
}

.brn-primary:hover {
  background-color: #d34326;
  border-color: transparent;
}

.carousel-caption p {
  color: #f7f7f7;
  font-size: 16px;
}

/* Nav Section */

.nav li a:hover,
.navbar-default {
  background-color: transparent;
}

.navrbar-default {
  /* background-color: transparent; */
  border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba (17,17,17.5);
}

.navbar-default .navbar-nav > li > a {
  color: #fcfcfc;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #f8512f;
  background-color: rgba (17,17,17,.2);
}

nav.navbar {
  position: absolute;
  top: 100;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-brand > img {
  margin-top: -7px;
}

.btn-primary {
  color: #fff;
  background-color: #f8512f;
  border-color: transparent;
}

btn-primary:hover {
  background-color: #d34326;
  border-color: transparent;
}

.carousel-caption p {
  color: #f7f7f7;
  font-size: 16px;
}

/* Carousel Section */

/* Our Story */

.wrap {
  margin-bottom: 45px;
}

#our_story h1 {
color: red;
font-family: 'Lobster', cursive;
font-weight: bolder;
font-size: 90px;
}

/* #our_story,
#review {
  min-height: 600px;
}

#our_story .row {
  margin-top: 30px;
  margin-left: 50px;
  margin-left: 78px;
} */

/* #our_story h1 {
  font-family: 'Lobster', cursive;
  color: #f8512f;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0a0a0a;
}

#our_story h3 {
  font-family: 'Releway', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0;
} */

/* .right_column{
  background-position: center;
  margin-top: 45px;
  margin-left: 95px;
} */

/* .col-sm-offset-1 {
  background-position: center;
  margin-top: 45px;
  margin-left: 95px;
} */

/* #our_story p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.right_column .story_year {
  font-family: 'Playfair Display', serif;
  font-size: 200px;
  font-weight: 700;
  z-index: -1;
  position: absolute;
  color: rgba(149,147,147,0.2);
  color: red;
} */

/* Review */
#review {
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#review .center {
  margin: 0 auto;
  float: none;
  background-color: rgba(20,20,20,.6);
  padding: 10px;
  margin-top: 145px;
  border-radius: 5px;
}

#review h1 {
  font-family: 'Lobster', cursive;
  font-size: 5em;
  color: #f8512f;
  text-shadow: 1px 1px 5px #0a0a0a;
}

#review p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2em;
  text-shadow: 1px 1px 5px #0a0a0a;
}

/* Beginning of Menu */

#menu {
  background-image: url("../img/black_linen.png");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 70px;
}

#menu h1 {
  color: #fff;
  font-family:"Lobster", cursive;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0a0a0a;
}

#menu h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2em;
}

#menu a {
  color: #f8512f;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#menu p {
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.food {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#menu .nav li a:hover {
  background-color: #rgba(255, 255, 255, 0.1);
  border-color: transparent;
}

#menu .nav-justified li a {
  margin-bottom: -5px;
}

#menu .nav-tabs li a {
  border: none;
}

/* End of Menu */

/* Begin of Contact */

.contact_form {
  background-color: red;
  color: white;
  border: 1px solid black;
}

.contact_form form {
  padding: 5% 0;
}

.contact_form span {
  color: white;
}

#contact {
  background-color:red;
}

#contact h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: Black;
  font-size: 4em;
}

#contact p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: yellow;
  font-size: 1em;
}

#contact_fine_print {
  font-size: 12px !important;
  text-align: center;
}

address {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.contact_bottom {
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: red;
}

/* End of Contact */

/* Begin footer */

#footer {
  height: 150px;
  background-color: white;
}

.name {
  margin-top: 65px;
  background-color: #f8512f;
  margin-left: 10px;
}

.fa {
  padding: 10px;
  margin-top: 30px;
  border-radius: 50px;
}

.fa:hover {
  color: #1aff1a;
}

.fa-facebook-f {
  background: #3B5998;
  color: black;
  margin-right: 5px;
  border-radius: 2px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background-color: #cb0366;
  color: #ffffff;
}

.fa-snapchat {
  background-color: #fffa01;
  color: #ffffff;
  margin-left: 9px;
}

.low {
  margin-top: 40px;
}

#footer a:hover {
  color: #f8512f;
  font-family: cursive;
  font-weight: bolder;
  font-size: 15px;
}

/* End footer */

/* @media begins */

@media (max-width:787px){
  .story_year{
    font-size: 160px;
  }
}

@media (max-width:787px){
  #our_story{
    background-color: #ffff99;
  }
}

@media (max-width:787px){
  #our_story h1{
    color:#008000;
    background-color: #cccc00;
  }
  .styles{
    color: #ff0066;
  }
}

@media (max-width: 787px){
  #contact{
    background-color: #660033;
  }
  #contact h1{
    font-family: 'Charm', cursive;
  }
}

@media (max-width:787px){
  #footer{
    background-color: #00cc99;
    height: 300px;
  }
}